* {
    font-family:'Courier New', Courier, monospace;
    background-color:lavender;
    color: rgb(2, 0, 0);
}


.title {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.pasta, .lobster, .chicken {
    border: 20px solid black;
    margin: 20px;
    padding: 5px;
}


